[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rminer"]
	path = rminer
	url = https://github.com/cran/rminer
	shallow = true
	registered = true
